<div class="col-sm-9 col-md-9">



<div class="container">
  <div class="tarjetas">
    <div class="row">
        <div class="col-sm-4">
          <div class="card border-primary mb-3">
            <div class="card-body">
              <h5 class="card-title"><i class="fas fa-truck-loading"></i>    ARTICULOS</h5>
              <p class="card-text">En esta seccion...</p>
              <a href="#" class="btn btn-primary">Ir a Articulos</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card border-secondary mb-3">
            <div class="card-body">
              <h5 class="card-title"><i class="fas fa-users"></i>    CLIENTES</h5>
              <p class="card-text">En esta seccion...</p>
              <a href="#" class="btn btn-primary">Ir a Clientes</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
            <div class="card border-success mb-3">
              <div class="card-body">
                <h5 class="card-title"><i class="fas fa-user-tie"></i>    PROVEEDORES</h5>
                <p class="card-text">En esta seccion...</p>
                <a href="#" class="btn btn-primary">Ir a Proveedores</a>
              </div>
            </div>
          </div>
          
      </div>
      
      <div class="row">
          <div class="col-sm-4">
            <div class="card border-danger mb-3">
              <div class="card-body">
                <h5 class="card-title"><i class="fas fa-file-alt"></i>    PRESUPUESTOS</h5>
                <p class="card-text">En esta seccion...</p>
                <a href="#" class="btn btn-primary">Ir a Presupuestos</a>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card border-warning mb-3">
              <div class="card-body">
                <h5 class="card-title"><i class="fas fa-shopping-cart"></i>    VENTAS</h5>
                <p class="card-text">En esta seccion...</p>
                <a href="#" class="btn btn-primary">Ir a Ventas</a>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
              <div class="card border-info mb-3">
                <div class="card-body">
                  <h5 class="card-title"><i class="fas fa-shopping-cart"></i>    COMPRAS</h5>
                  <p class="card-text">En esta seccion...</p>
                  <a href="#" class="btn btn-primary">Ir a Compras</a>
                </div>
              </div>
            </div>
            
        </div>
    </div>
</div>

</div>