<!-- tipos-documento-list works! -->
<div class="col-md-4" *ngFor="let td of tiposDocumento">
  <div class="card text-center">
    <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
        Código {{td.Id}}
        <button class="btn btn-danger" (click)="deleteTipoDocumento(td.Id)">
          <i class="far fa-trash-alt"></i>
        </button>
    </div>      
    <div class="card-body"> 
        <p>{{td.TipoDocumento}}</p>
        <a href="" class="btn btn-info btn-block">
          EDITAR
        </a>
    </div>
  </div>
</div>
